{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC-site</title> 
<link rel="preconnect" href="http://googleusercontent.com/4">
<link rel="preconnect" href="http://googleusercontent.com/5" crossorigin>
<link href="http://googleusercontent.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/main.css">

    <link rel="stylesheet" href="./css/nosso_album.css"> 
    
</head>
<body>
    
    {% csrf_token %}

    <div class="header">
        <h1>Nosso Álbum de Memórias</h1>
    </div>

    <div class="photo-grid" id="photo-grid">
        <div class="photo-card upload-card">
            <label for="file-input">+</label>
            <input type="file" id="file-input" accept="image/*">
        </div>

        {% for foto in fotos %}
        <div class="photo-card">
            <button class="delete-btn" data-id="{{ foto.id }}">&times;</button>
            <img src="{{ foto.imagem.url }}" 
         alt="{{ foto.legenda }}"
         data-caption="{{ foto.legenda|default:'' }}"
         data-date="{{ foto.data_foto|date:'d/m/Y' }}">
        </div>
        {% endfor %}
    </div>

    <a href="/" class="back-link">Voltar para a Página Principal</a>

    <div id="photo-modal" class="modal-overlay">
    <span id="modal-close" class="modal-close-btn">&times;</span>
    
    <span id="modal-prev" class="modal-nav-btn prev">&lt;</span>
    <span id="modal-next" class="modal-nav-btn next">&gt;</span>

    <img id="modal-image" class="modal-content" src="" alt="Foto em tamanho grande">
    <div id="modal-caption" class="modal-caption-container"></div>
</div>

    <script src="./js/nosso_album.js" defer></script>
</body>
</html>