{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC-site</title> <link rel="preconnect" href="http://googleusercontent.com/4">
<link rel="preconnect" href="http://googleusercontent.com/5" crossorigin>
<link href="http://googleusercontent.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/main.css">

    <link rel="stylesheet" href="./css/pagina_musicas.css"> 
    
</head>
  <body>
    <div class="header">
      <h1>Músicas Para Você</h1>
    </div>

    <div class="music-list">
      {% for musica in musicas %}
      <div
        class="music-card"
        data-video-id="{% if musica.link_youtube %}{{ musica.link_youtube|slice:'-11:' }}{% endif %}"
      >
        <div class="cover">
          {% if musica.capa %}
          <img src="{{ musica.capa.url }}" alt="Capa de {{ musica.titulo }}" />
          {% endif %}
        </div>
        <div class="info">
          <h2 class="title">{{ musica.titulo }}</h2>
          <p class="artist">{{ musica.artista }}</p>
          <div class="player-controls">
            <button class="play-pause-btn" aria-label="Tocar/Pausar">▶️</button>
            <button class="stop-btn" aria-label="Parar">⏹️</button>
            <span class="duration">{{ musica.duracao }}</span>
          </div>
          {% if musica.arquivo_mp3 %}
          <audio
            class="audio-player"
            src="{{ musica.arquivo_mp3.url }}"
            preload="metadata"
          ></audio>
          <div class="player-controls"></div>
          <div class="progress-bar-container">
            <div class="progress-bar"></div>
          </div>
          <audio
            class="audio-player"
            src="{{ musica.arquivo_mp3.url }}"
            preload="metadata"
          ></audio>
          {% endif %} {% if musica.link_youtube %}
          <div
            class="youtube-player-container"
            id="ytplayer-{{ musica.id }}"
          ></div>
          {% endif %}
        </div>
        <div class="lyrics-text" style="display: none;">{{ musica.letra|escape|linebreaksbr }}</div>
      </div>
      {% endfor %}
      <div id="lyrics-modal" class="lyrics-modal-overlay">
        <div class="lyrics-modal-content">
          <span id="lyrics-close" class="lyrics-modal-close-btn">&times;</span>
          <div id="lyrics-body" class="lyrics-modal-body">
            <pre></pre>
          </div>
        </div>
      </div>
    </div>

    <a href="/" class="back-link">Voltar para a Página Principal</a>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="./js/pagina_musicas.js" defer></script>
  </body>
</html>
